.profile__edit {
  max-width: 10px;
  width: 100%;
  padding: 6px 6px;
  border: 1px solid #FFFFFF;
  margin-left: 18px;
  justify-content: flex-end;
}

.profile__edit:hover {
  opacity: 0.5;
  transition: 1s ease;
}

@media screen and (max-width: 900px) {
  .profile__edit {
    max-width: 7px;
    padding: 5px 5px;
    margin-left: 10px;
  }
}
