.profile__edit {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #FFFFFF;
  margin-left: 18px;
  background-color: transparent;
  padding: 0;
  background-image: url('../../../images/profile-edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: 0.6;
  transition: 1s ease;
}

@media screen and (max-width: 900px) {
  .profile__edit {
    min-width: 18px;
    min-height: 18px;
    margin-left: 10px;
    background-size: 7px;
  }
}
