.popup__close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -32px;
  right: -32px;
  border: none;
  background-color: transparent;
  padding: 0;
  box-sizing: border-box;
  background-image: url('../../../images/close-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
  transition: 1s ease;
}

@media screen and (max-width: 900px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
    background-size: 20px;
  }
}
