.profile__avatar {
  max-width: 120px;
  border-radius: 50%;
  align-items: flex-start;
}

@media screen and (max-width: 900px) {
  .profile__avatar {
    align-items: center;
    align-self: center;
  }
}
