.footer {
  max-width: 880px;
  width: 100%;
  margin: 66px 0px 60px;
  align-self: center;
}

@media screen and (max-width: 900px) {
  .footer {
    max-width: 282px;
    margin: 48px auto 36px;
  }
}
